*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #ccfbf1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h1 {
    padding: 30px;
    text-align: center;
    color:#164e63;
}


h2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    color: #ccfbf1;
}

#close {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


form{
    display: none; 
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 300px;
    padding: 10px 20px 70px 30px;
    border-style: none;
    border-radius: 1em;
    background-color: #06b6d4;
    box-shadow: 5px 5px #0e7490;
}

.container {
    margin-top: 40px;
}

.title, .author, .pages{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

input[type='text'] {
    width: 300px;
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    padding: 5px;
    font-size: 15px;
    margin-top: 5px;
    
}

.radio {
    margin-top: 10px;
}

.add-book {
    padding: 15px;
    width: 150px;
    border-radius: 10px;
    background-color: #06b6d4;
    border-style: none;
    color: #164e63;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 3px 3px #0e7490;
}

.add-book-button {
    text-align: center;
    margin-top: 20px;
}

.add-book:hover {
    background-color: #0e7490;
    color: #ccfbf1;
    box-shadow: 3px 3px #06b6d4;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.submit {
    width: 80px;
    background-color: #ccfbf1;
    border-radius: 5px;
    border-style: none;
    padding: 3px;
    color: #164e63;
}

.submit:hover {
    background-color: #0e7490;
    color: #ccfbf1;
}

label {
    color: #164e63;
    font-weight: bold;
}

.info-container {
    background-color: #0e7490;
    width: 200px;
    height: 260px;
    border-radius: 10px;
    margin-top: 30px;
    padding: 1em; 
}

.booksContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.heading-style {
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 15px;
}

.input-style {
    padding-bottom: 5px;
    font-size: 15px;

}

.book-info {
    background-color:aliceblue;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.btn-style {
    border-style: none;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    background-color:#ccfbf1;
}

.btn-style:hover {
    background-color: #06b6d4;
}

.btn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 5px;
    gap: 5px; 
}